[Unit]
Description=Sistema de monitoramento da bateria
After=network.target

[Service]
ExecStartPre=/bin/sleep 10
ExecStart=/home/fboat/daly-bms-uart-linux/build/dalybms /dev/ttyUSB0 144.22.131.217 8086 fboat
WorkingDirectory=/home/fboat
Restart=always
RestartSec=5
User=fboat
Environment="INFLUXDB_TOKEN=INSERT_TOKEN_HERE"


[Install]
WantedBy=multi-user.target